body {
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Navigation Styling */
header {
    background-color: #1e1e1e;
    padding: 20px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

nav a {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    margin: 0 15px;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

nav a:hover {
    color: #CA3E47;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #CA3E47;
    left: 50%;
    bottom: 0;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

nav a:hover::after {
    width: 100%;
}

/* Blog Posts Styling */
.main-content {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    background-color: #333;
    color: #ffffff;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Poppins', sans-serif;
    width: 70%; /* Set width to 50% */
    box-sizing: border-box;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}

.post-title {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #76ABAE;
}

.post-content {
    font-size: 1.2em;
    line-height: 1.6;
}

.post-date {
    font-size: 0.9em;
    color: #A8A8A8;
    margin-bottom: 15px;
}